body{
    margin:0;
}
@font-face {
    font-family: 'nom';
    src: url('view/font/Bafora Regular Demo.ttf')
}
header{
    border-bottom: solid black 2px;;
    width:100%;
    
}
.top{
    display: flex;
    height: 125px;
    width: 100%;
    background-color: grey;
}
.logo{
    height: 100px;
    width: 100px;
}
.droite{
    background-color: red;
    height: 100%;
    width: 400px;
    display: flex;
    align-items: flex-end;
    width: 35%;
    justify-content: space-around;
}
.gauche{
    display: flex;
    justify-content: space-around;
    width: 65%;
}
#b1, #b2{
    margin-left: 20px;
}

a{
    text-decoration: none;
}
#site-search,#search,#txt_search{
    display: flex;
    height: 20%;
    align-self: flex-end;
}
.pp{
    width:35px;
    height:35px;
}
h1{
  font-family: 'nom';
  font-size: 10px;
}