*{
    box-sizing: border-box;
}
@font-face {
    font-family: policetitre;
    src: url('../font/Bafora Regular Demo.ttf')
}
header{
    border-bottom: solid black 2px;;
    width:100%;
    
}
.top{
    display: flex;
    height: 125px;
    width: 100%;
    background-color: #d3b593;
    background-image: url(../images/fond.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
body{
    transition: background 0.2s linear;
}
body.dark{
    background-color: #292C35;
}
body.dark p {
    color: #fff;
}
body.dark .top{
    background-color: #292C35;
}
body.dark h1 {
    color: #fff;
}
body.dark .psd{
    color: #fff;
}
body.dark .pp{
    border-color: #fff;
}
.logo{
    height: 100px;
    width: 100px;
}
.droite{
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    justify-content: space-around;
}
.mid{
    display: flex;
    flex-direction: column;
    width: 60%; 
    align-items: center;
}
.gauche{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
#b1, #b2{
    margin-left: 20px;
}

a{
    text-decoration: none;
}
.Titre{
    height: 80%;
    display: flex;
}
.title{
  margin: 0;
  font-family: policetitre;
  font-size: 80px;
}
.recherche{
    display: flex; 
}
header li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
header li a {
    display: block;
    padding: 20px;
}

header li a:hover{
    background-color: #1abc9c;
    color: #fff;
}
header li:hover .sub-menu{
    display: block;
}
.sub-menu{
    display: none;
    position: absolute;
    background-color: #1abc9c;
    width: 150px;
}
.sub-menu li{
    display: block;
}
.sub-menu li a{
    color: #fff;
}
.sub-menu li:hover a{
    background-color: #fff;
    color: #1abc9c;
}
.pp {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: double 5px black;
}
.menud{
    width: 70px;
    margin-right: 100px;
    margin-top: 20px;
    position: relative;
}
.nuit{
    margin-bottom: 20px;
    margin-right: 20px;
}
.checkbox{
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 50px;
}
.ball {
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
.fa-moon{
    color: #f1c40f;
}
.fa-sun{
    color: #f39c12;
}
.psd{
    position: absolute;
    height: 50px;
    width: 50px; 
    margin-right: 20px;
    top: 30px;
}