html
{
    height: 100%;
    width: 100%;
    margin: 0;
}
@font-face
{
    font-family: "biko_font";
    src: url(../font/Biko_Bold.otf);
}
.poster_com
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 20%;
    width: 40%;
}
.envoie_com
{
    margin: 20px;
    width: 90%;
    height: 25px;
    border: 1px solid #bbb;
    border-radius: 5px;
}
.envoie_com:focus
{
    outline: none;
}
.button_envoie_com
{
    width: 50%;
    height: 25px;
    border: 1px solid #bbb;
    text-align: center;
    border-radius: 5px;
}
.button_envoie_com:hover
{
    cursor: pointer;
}
.content
{
    margin-top: -10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: biko_font;
    background-color: #e5e5e5;
}
.colonne_gauche
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
    border: 2px solid #bbb;
    border-radius: 5px; 
}

.content_article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid #bbb 1px;
    margin-top:15px;
    width: 90%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
}
.content_com
{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}
.commentaires
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid #bbb 1px;
    margin-top:15px;
    width: 90%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
}
.comment_content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.margin
{
    margin: 20px;
}
.haut
{
    margin: 10px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    display:flex;
    font-size: 30px;
}
.contenu_art
{
    margin: 50px;
    font-size: 23px;
}
.art_titre{
   padding-right:20px;
}
.art_bas
{
    font-size: 19px;
    display:flex;
    margin: 10px;
}
.publié{
    padding-right:15px;
}
.pp1{
    width:35px;
    height:35px;
    padding-right: 15px;
}

.partie_droite
{
    height: 100%;
    width: 50%;
    background-color: yellow;
}