.article{
    margin:50px;
    display: flex;
    border:black solid;
    border-radius:15px;
    height:150px;
    width:600px;
}
.contenu{
    width:100%
}
.titre{
    width: 90%;
    padding-top:15px;
}
.artitre{
    font-size: 20px;
    font-weight: bold;
    width:500px;
}
.cont_haut{
    height:70%;
    display:flex;
    background-color:pink;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width:100%;
}
.contenu_bas{
    height:30%;
    display: flex;
    justify-content:flex-end;
}
.button_plus{
    border-radius: 50%;
    height:30px;
    width:30px;
}
.button_plu{
    margin-top: 5px;
}
.imgpdp{
    border-radius:50%;
    height:90%;
    width:90%;
    
}
.pdp{
    display: flex;
    justify-content: flex-end;
    width: 50px;
}
.date{
    width:175px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.auteur{
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
    height:30px;
    padding-top:8px;
}

li ul {
    display:none;
    margin: 0;
    padding:0;
 }
  li:hover ul {
    display:block;
    padding-right: 10px;
 }
 li:hover input{
    margin-left:18px; 
 }
 a{
    color:black;
 }