.article{
    margin:50px;
    display: flex;
    border:black solid;
    border-radius:15px;
    height:150px;
    width:600px;
}
.vuelike{
    height: 150px;
    width:10%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.contenu{
    width:90%
}
.titre{
    width: 93%;
   padding-top:15px;
}
.artitre{
    font-size: 20px;
    font-weight: bold;
}
.cont_haut{
    height:70%;
    display:flex;
    background-color:pink;
    border-top-right-radius: 12px;
}
.contenu_bas{
    height:30%;
    display: flex;
    justify-content:flex-end;
}
.button_plus{
    border-radius: 50%;
    height:30px;
    width:30px;
}
.button_plu{
    margin-top: 5px;
}
.imgpdp{
    border-radius:50%;
    height:100%;
    width:100%;
    
}
.pdp{
    display: flex;
    justify-content: flex-end;
    width: 50px;
}
.date{
    width:175px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.auteur{
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
}
ul li{
    list-style: none;
}

li a {
 text-decoration:none;
 }
 ul li ul {
 display:none;
 }
 ul li:hover ul {
 display:block;
 }