html
{
    height: 100%;
    width: 100%;
    margin: 0;
}
body
{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
@font-face
{
    font-family: "biko_font";
    src: url(../font/Biko_Bold.otf);
}

p
{
	margin: revert;
}
.background
{
	background-image: url("../images/background3.JPG");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.main_box
{
	display: flex;
	justify-content: center;
	align-items: center;
    height: 80%;
    width: 65%;
    box-shadow: 30px 30px 30px rgba(0,0,0,0.2);
    background: none;
}
.left
{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 100%;
	width: 50%;
	background: white;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.right
{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 100%;
	width: 50%;
	background: #3498db;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.avatar
{
	height: 30%;
	width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #3498db;
}
.choix_avatars
{
	text-align: center;
    display:flex;
    justify-content: start;
    align-items: center;
    width: 60%;
    height: 50%;
}
.choix_fichier_avatar
{
	text-decoration: underline;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
    font-family: biko_font;
    background: #3498db;
    text-align: center;
    border: 0;
    padding: 12px;
    outline: none;
    width: 50%;
    height: 40%;
    color: white;
    border-radius:19% 19% 19% 18% / 100% 100% 100% 100%;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 3px 5px 12px rgba(0,0,0,0.2)
}
.choix_fichier_avatar:hover
{
    background: #2ecc71;
}
.validation_avatar
{
	font-size: 15px;
    font-family: biko_font;
    background: #3498db;
    display: block;
    text-align: center;
    border: 0;
    padding: 12px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 3px 5px 12px rgba(0,0,0,0.2);
    margin-left: 10px;
}
.validation_avatar:hover
{
	background: #2ecc71;
}
.pp_avatar
{
    height: 100%;
    width: 100%;
    border: 3px solid #3498db;
    border-radius: 75%;
}
.pseudo
{
	height: 30%;
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}
.img_avatar
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70%;
	width: 25%;
}
.choix_pseudo
{
	text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-left: 15%;
}
.bouton_modif_pseudo
{
	font-size: 15px;
    font-family: biko_font;
    background: white;
    display: block;
    text-align: center;
    border: 0;
    padding: 12px;
    outline: none;
    color: #3498db;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 3px 5px 12px rgba(0,0,0,0.2);
  	margin-right: 10px;
}
.bouton_modif_pseudo:hover
{
	background: #da88de;
	color: white;
}
.box_modif_pseudo
{
	font-size: 14px;
    background: none;
    display: block;
    text-align: center;
    border: 0;
    border: 2px solid white;
    padding: 14px 10px;
    outline: none;
    width: 70%;
    height: 18%;
    color: white;
    border-radius: 26px;
    transition: 0.5s;
}
.box_modif_pseudo:focus
{
    height: 40%;
    border-radius:19% 19% 19% 18% / 100% 100% 100% 100%;
    border-color: #da88de;
}
.box_modif_pseudo:hover
{
	background: rgba(255,255,255,0.1);
}
.box_modif_pseudo::placeholder
{
	opacity: 0.9;
}
.votre_pseudo
{
	margin: 5px;
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 25%;
}
.text_modif_mdp, .text_modif_mail
{
	font-family: biko_font;
	text-decoration: underline;
	font-size: 20px;
	color: #3498db;
}
.modif_mdp
{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	height: 50%;
}
.mdp_container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.mdp_box_container
{
	height: 600px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.mdp_box, .mail_box
{
	font-size: 14px;
    background: none;
    display: block;
    margin: 12px auto;
    text-align: center;
    border: 0;
    border: 2px solid #3498db;
    padding: 14px 10px;
    outline: none;
    width: 45%;
    height: 8%;
    color: black;
    border-radius: 26px;
    transition: 0.5s;

}
.mdp_box:hover
{
	background: rgba(52,152,219,0.1);
}
.mdp_box:focus
{
	background: none;
    width: 70%;
    border-color: #2ecc71;
}
.mail
{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 62%;
}
.text_modif_mail
{
	color: white;
}
.mail_container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.mail_box
{
	height: 5%;
	color: white;
	border-color: white;
}
.mail_box:hover
{
	background: rgba(255,255,255,0.1);
}
.mail_box:focus
{
	background: none;
    width: 70%;
    border-color: #da88de;
}
.mail_box::placeholder
{
	opacity: 0.9;
}
.validation
{
	width: 100%;
	margin-top: 10px;
}
.btn_validation, .btn_validation_mail
{
	font-size: 15px;
    font-family: biko_font;
    background: #3498db;
    border-radius: 5px;
    display: block;
    margin: 12px auto;
    text-align: center;
    border: 0;
    padding: 12px;
    outline: none;
    width: 150px;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 3px 5px 12px rgba(0,0,0,0.2)
}
.btn_validation:hover
{
	color: white;
    background: #2ecc71;
}
.btn_validation_mail
{
	color: #3498db;
	background: white;
}
.btn_validation_mail:hover
{
	background: #da88de;
	color: white;
}
#tx_ava{
    height:20px;
}

.lien_modif_avatar
{
}

.pp_avatar2{
    height:80px;
    width:80px;
}
.errorMessage2
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 15%;
	background: #e66262;
	color: white;
	text-align: center;
	border-radius: 3px;
}