html
{
    height: 100%;
    width: 100%;
}
body,p
{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.top{
    display: flex;
    height:150px;
    width:100%;
    margin-bottom: 20px;
}

.gauche {
    width:40%;
    background-color:pink;
    display:flex;
}

.droite{
    width:60%;
    background-color:gold;
}

.soloL{
    height:100%;
    width:150px;
    border-radius: 50%;
}

.article{
    margin:50px;
    display: flex;
    border:black solid;
    border-radius:15px;
    height:150px;
    width:600px;
}
.vuelike{
    background-color: grey;
    height: 150px;
    width:10%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.contenu{
    width:90%
}
.titre{
   width:90%;
   padding-top:15px;
}
.artitre{
    font-size: 25px;
    font-weight: bold;
}
.cont_haut{
    height:70%;
    display:flex;
    background-color:pink;
    border-top-right-radius: 12px;
}
.contenu_bas{
    height:30%;
    display: flex;
}
.button_plus{
    border-radius: 50%;
    height:30px;
    width:30px;
}
.button_plu{
    height:25px;
    margin-left:20px;
    margin-top: 5px;
}
.imgpdp{
    border-radius:50%;
    height:100%;
    width:100%;
    
}
.pdp{
    display: flex;
    justify-content: flex-end;
    width: 50px;
}
.date{
    width:175px;
    text-align: center;
}
.auteur{
    width:100px;
    display: inline-block;
    vertical-align: middle;
}

.conn_droite{
    font-size: 20px;
    background-color: lightgray;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conn_gauche{
    font-size: 20px;
    width:50%;
    background-color:grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_conn_inscri
{
    display: flex;
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
.form_connex, .form_connex2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
}
.form_connex2
{
    height: 450px;
}
.all_saisie
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.champ_saisie
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    width:100%;
    height: 100%;
    background-color:grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form2{
    width:100%;
    height: 100%;
    background-color:lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nom_saisies
{
    width:30%;
    display: flex;
    justify-content: flex-start;
}

.saisies{
    text-align: start;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:3px ;
    padding-bottom:5px;
}
input[type="password"], input[type="text"], input[type="integer"]
{
    border: none;
    width: 200px;
    height: 40px;
    background-color: transparent;
    border-bottom: 1px solid black;
}
input[type="submit"]
{
    width: 125px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: darkorange;
    color: white;
    font-weight: bold;
}
.btn_envoi{
    height: 120px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top:15px;
    padding-bottom: 15px;
}
.text_bas
{
    font-size: 10px;
    text-align: start;
    width: 90%;
}
.text_bas_right
{
    display: flex;
    justify-content: end;
    font-size: 10px;
    text-align: end;
    width: 90%;
}
.bas
{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titreconnex{
    border:solid;
    text-align: center;
    margin-bottom: 7%;
    transform: skew(-20deg);
}
p.errorMessage {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
}