body,p
{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
}

.top{
    display: flex;
    height:150px;
    width:100%;
    margin-bottom: 20px;
}

.gauche {
    width:40%;
    background-color:pink;
    display:flex;
}

.droite{
    width:60%;
    background-color:gold;
}

.soloL{
    height:100%;
    width:150px;
    border-radius: 50%;
}

.article{
    margin:50px;
    display: flex;
    border:black solid;
    border-radius:15px;
    height:150px;
    width:600px;
}
.vuelike{
    background-color: grey;
    height: 150px;
    width:10%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.contenu{
    width:90%
}
.titre{
   width:90%;
   padding-top:15px;
}
.artitre{
    font-size: 25px;
    font-weight: bold;
}
.cont_haut{
    height:70%;
    display:flex;
    background-color:pink;
    border-top-right-radius: 12px;
}
.contenu_bas{
    height:30%;
    display: flex;
}
.button_plus{
    border-radius: 50%;
    height:30px;
    width:30px;
}
.button_plu{
    height:25px;
    margin-left:20px;
    margin-top: 5px;
}
.imgpdp{
    border-radius:50%;
    height:100%;
    width:100%;
    
}
.pdp{
    display: flex;
    justify-content: flex-end;
    width: 50px;
}
.date{
    width:175px;
    text-align: center;
}
.auteur{
    width:100px;
    display: inline-block;
    vertical-align: middle;
}

.conn_droite{
    background-color: lightgray;
    width:50%;
    display: flex;
    justify-content: center;
}
.conn_gauche{
    width:50%;
    background-color:grey;
    display: flex;
    justify-content: center;
}

.form_conn_inscri
{
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: 150px;
}
a{
    text-decoration: none;
}
.form{
    width:60%;
}
.form2{
    width:60%;
}
.nom_saisies{
    width:40%;
}

.saisies{
    display:flex;
    padding-top:3px ;
    padding-bottom:5px;
}

.btn_envoi{
    display: flex;
    justify-content: center;
    padding-top:15px;
    padding-bottom: 15px;
}
.titreconnex{
    border:solid;
    text-align: center;
    margin-bottom: 7%;
    transform: skew(-20deg);
}
p.errorMessage {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
}