html
{
    height: 100%;
    width: 100%;
}
body
{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
@font-face
{
    font-family: "biko_font";
    src: url(../font/Biko_Bold.otf);
}
.background
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #1f559b;
    background-size: cover;
}

.conn_droite{
    background: #3498db;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 15px;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.conn_gauche
{
    background: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 15px;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.form_conn_inscri
{
    background-image: url("../images/background.JPG");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.huge_box
{
    display: flex;
    height: 75%;
    width: 60%;
}
a{
    text-decoration: none;
}
.form_connex, .form_connex2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.form_connex2
{
    height: 100%;
}

.sais
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.all_saisie
{
    display: flex;
    width: 100%;
    height: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.champ_saisie
{
    border-radius: 10px;
    width: 100%;
}
.form{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box,.box2
{
    border-radius: 10px;
    width:45%;
    height: 70%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 9px 12px 10px rgba(0,0,0,0.3);
}
.form2{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.nom_saisies
{
    width:50%;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.saisies{
    text-align: start;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:3px ;
    padding-bottom:5px;
}
.border_black
{
    padding: 9px 10px;
    margin: 2px auto;
    border-radius: 24px;
    font-size: 14px;
    background: none;
    display: block;
    text-align: center;
    border: 0;
    border: 2px solid lightgrey;
    outline: none;
    width: 190px;
    color: white;
    transition: 0.5s;
}
.border_black::placeholder
{
    color: white;
}
.border_black:hover
{
    background: rgba(255,255,255,0.1);
}
.border_black:focus
{
    font-size: 14px;
    background: none;
    display: block;
    text-align: center;
    border: 0;
    border: 2px solid lightgrey;
    outline: none;
    width: 280px;
    color: white;
    border-radius: 24px;
}
.border_white
{
    font-size: 14px;
    background: none;
    display: block;
    margin: 12px auto;
    text-align: center;
    border: 0;
    border: 2px solid #3498db;
    padding: 14px 10px;
    outline: none;
    width: 200px;
    color: black;
    border-radius: 24px;
    transition: 0.5s;
}
.border_white:hover
{
    background: rgba(52,152,219,0.1);
}
.border_white:focus
{
    background: none;
    width: 280px;
    border-color: #2ecc71;
}


.bouton_left
{
    background: #3498db;
    border-radius: 5px;
    display: block;
    margin: 12px auto;
    text-align: center;
    border: 0;
    padding: 12px;
    outline: none;
    width: 150px;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.3)
}
.bouton_left:hover
{
    color: white;
    background: #2ecc71;
}

.bouton_right
{
    background: white;
    border-radius: 5px;
    display: block;
    margin: 12px auto;
    text-align: center;
    border: 0;
    padding: 12px;
    outline: none;
    width: 150px;
    color: #3498db;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.3)
}
.bouton_right:hover
{
    color: white;
    background: #2ecc71;
}
.btn_envoi
{
    padding-top: 3%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.text_bas
{

    font-size: 8px;
    text-align: start;
    width: 90%;
}
.text_bas_right
{
    display: flex;
    justify-content: end;
    font-size: 10px;
    text-align: end;
    width:100%;
}
.bas_left
{
    color: black;
    padding-top: 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bas_right
{
    color: black;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titreconnex, .titreconnex_droite
{
    font-family: biko_font;
    color: #3498db;
    font-size: 23px;
    text-align: center;
}
.titreconnex_droite
{
    color: white;
}
p.errorMessage {
    text-align: center;
    background-color: #e66262;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
    height:20px;
    margin:0;
    width: 70%;
    height: 30%;
}
p.errorMessage1 {
    padding: 5px 10px;
    color: white;
    height:20px;
    margin:0;
}
p.errorMessage2 {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
    height:20px;
    margin:0;
}