html
{
    height: 100%;
    width: 100%;
    margin: 0;
}
body,p
{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.huge_container
{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main
{
	width: 80%;
	height: 120%;
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.big_box
{
	height: 75%;
	width: 75%;
}
.big_box p
{
	height: 5%;
}
.choix_cat
{
	margin: 10px;
	height: 5%;
	width: 20%;
	text-align: center;
	border-radius: 5px;
	border: 1px solid black;
}
.choix_titre
{
	margin: 10px;
	height: 5%;
	width: 20%;
	text-align: center;
	border-radius: 5px;
	border: 1px solid black;
}
.trix-button-row
{
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
}
.contenu
{
	width: 50%;
	height: 200px;
}
.editor
{
	height: 70%;
}
.editor
{
	height: 400px;
}